fastapi==0.110.0
uvicorn==0.29.0
gunicorn==21.2.0
deepface==0.0.90
tensorflow==2.16.1
keras==3.0.5
opencv-python==4.9.0.80
ultralytics==8.1.47
numpy==1.26.4
pillow==10.2.0
python-multipart==0.0.9
requests==2.31.0